@import url('../index.css');


.buttons {
    width: calc(var(--scale) * 1200);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 18%;
}

.prev {
    height: calc(var(--scale) * 71); 
    transition: opacity 0.3s ease;
    cursor: pointer; 
}

.prev:hover {
    opacity: 0.7;
}

.next {
    background-color: #0E4B9A;
    color: white;
    width: calc(var(--scale) * 177);
    height: calc(var(--scale) * 71); 
    border-radius: calc(var(--scale) * 30);
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: calc(var(--scale) * 32); 
    text-align: center; 
    border: none; 
    cursor: pointer; 
    transition: opacity 0.3s ease;
    margin-left: calc(var(--scale) * 30);
}

.next:hover {
    opacity: 0.7;
}

.button {
    background-color: #0E4B9A;
    color: white;
    max-width: calc(var(--scale) * 377);
    height: calc(var(--scale) * 71); 
    border-radius: calc(var(--scale) * 30);
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: calc(var(--scale) * 32); 
    text-align: center; 
    border: none; 
    cursor: pointer; 
    transition: opacity 0.3s ease;
    margin-left: calc(var(--scale) * 30);
    padding: 0 calc(var(--scale) * 20); /* Horizontal padding */
}
  
.button:hover {
    opacity: 0.7;
}