@import url('../index.css');

.question-bath {
    width: calc(var(--scale) * 960);
    margin-left: calc(var(--scale) * 475);
    margin-bottom: calc(var(--scale) * 80);
    margin-top: calc(var(--scale) * 20);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bathtub {
    width: calc(var(--scale) * 419);
}

.operational-sign {
    width: calc(var(--scale) * 71);
    transition: opacity 0.3s ease;
    cursor: pointer; 
}

.operational-sign:hover {
    opacity: 0.7;
}

.times-bath, .period-bath {
    font-size: calc(var(--scale) * 48);
    text-align: center;
}

.plus-minus-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: calc(var(--scale) * 280);
}

.i-use, .times-for {
    font-size: calc(var(--scale) * 48);
    text-align: center;
}

.input-field-bath {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-field-bath > * {
    margin-bottom: calc(var(--scale) * 20); 
}

.input-field-bath > *:nth-child(1) {
    margin-bottom: calc(var(--scale) * -10);
}

.input-field-bath > *:nth-child(2) {
    margin-bottom: calc(var(--scale) * -60);
}