@import url('../index.css');

.sidebar-combined {
    height: 100%;
    position: absolute;
    left: calc(var(--scale) * 0);
    top: calc(var(--scale) * 0);
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    scrollbar-width: none; 
    scroll-behavior: smooth;
    align-items: center;
    background-color: #4B39C3;
}

.sidebar-combined::-webkit-scrollbar {
    display: none;
}

.arr {
    z-index: 1;
    margin-top: calc(var(--scale) * -13);
    width: calc(var(--scale) * 91);
}