@import url('../index.css');

.sidebar-purple {
    width: calc(var(--scale) * 91);
    position: relative;
    left: calc(var(--scale) * 0);
    top: calc(var(--scale) * 0);
    background-color: #4B39C3;
    overflow: visible;
}