@import url('../index.css');

.welcome-container {
    position: absolute;
    top: calc(var(--scale) * 240);
}

.welcome-background {
    position: absolute;
    width: calc(var(--scale) * 1930);
    top: calc(var(--scale) * 40);
    left: calc(var(--scale) * -16);
}

.voden-calc {
    position: absolute;
    width: calc(var(--scale) * 460);
    top: calc(var(--scale) * 75);
    left: calc(var(--scale) * 700);
}

@keyframes float {
    0% {
        transform: translateY(calc(var(--scale) * 0));
    }
    50% {
        transform: translateY(calc(var(--scale) * 50)) translateX(calc(var(--scale) * 50));
    }
    100% {
        transform: translateY(calc(var(--scale) * 0));
    }
}

.home-logo {
    position: absolute;
    width: calc(var(--scale) * 300);
    top: calc(var(--scale) * 200);
    left: calc(var(--scale) * 920);
    z-index: 1;
    animation: float 30s ease-out infinite; /* Floating effect */
}

.welcome-start {
    position: absolute;
    width: calc(var(--scale) * 177);
    height: calc(var(--scale) * 71);
    top: calc(var(--scale) * 490);
    left: calc(var(--scale) * 842);
    border-radius: calc(var(--scale) * 30);
    background-color: #ffc464b7;
    color: white;
    font-size: calc(var(--scale) * 32);
    border: none;
    transition: opacity 0.3s;
    cursor: pointer;
}

.welcome-start:hover {
    opacity: 0.7;
    transition: opacity 0.3s;
}

.welcome-clouds {
    position: absolute;
    top: calc(var(--scale) * -240);
}

.cloud-3-welcome {
    position: absolute;
    width: calc(var(--scale) * 250);
}

.cloud-3-welcome {
    top: calc(var(--scale) * 101);
    left: calc(var(--scale) * 450);
    animation: move-cloud-3 20s infinite ease-out 0.5s;
    z-index: -1;
}